footer,
span a {
    background-color: #7f0404;
}

header {
    background-image: linear-gradient(#7f0404, #d00000);
}

table thead,
table tfoot,
#tema{
    background-color: #7f0404;
}

table tbody tr:nth-child(odd) {
    background-color: #e45a50;
}

table tbody tr:nth-child(even) {
    background-color: #e45a5069;
}

table tbody tr:hover {
    background-color: #e45a50af;
}